div.container {
    width: 1080px;
    margin: 0 auto;
    margin-bottom: 8px;
    overflow: hidden;
}

ul.gnb {
    float: left;
    padding-top: 8px; padding-bottom: 8px;
    padding-left: 0px; padding-right: 0px;
    background-color: green;
}
ul.gnb > li {
    list-style-type: none;
    float: left;
    padding-left: 16px;
}
ul.gnb > li:first-child {
    padding-left: 0px;
}
ul.rank {
    float: right;
    padding-top: 8px; padding-bottom: 8px; padding-left: 0px;
    background-color: yellow;
}
ul.rank > li {
    list-style-type: none;
}

div.left {
    float: left;
    width: 740px; height: 428px;
    background-color: red;
}
div.right {
    float: right;
    width: 332px; height: 428px;
    background-color: blue;
}

div.footer {
    height: 80px;
    background-color: yellow;
}






div.container2 {
    width: 1080px;
    margin: 0 auto;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

div.container2 > ul.gnb {
    padding-top: 8px; padding-bottom: 8px;
    padding-left: 0px; padding-right: 0px;
    background-color: green;
}
div.container2 > ul.gnb > li {
    list-style-type: none;
    padding-left: 16px;
}
div.container2 > ul.gnb > li:first-child {
    padding-left: 0px;
}
div.container2 > ul.rank {
    float: right;
    padding-top: 8px; padding-bottom: 8px; padding-left: 0px;
    background-color: yellow;
}
div.container2 > ul.rank > li {
    list-style-type: none;
}


div.container2 > div.left {
    width: 740px; height: 428px;
    background-color: red;
}
div.container2 > div.right {
    width: 332px; height: 428px;
    background-color: blue;
}

div.container2 > div.footer {
    width: 1080px; height: 80px;
    background-color: yellow;
}

